WpfApp1/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51402/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vpis">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uporabniško_ime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="geslo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vpisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vpisResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PridobiVseStudente">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PridobiVseStudenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="PridobiVseStudenteResult" nillable="true" type="q3:ArrayOfStudent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PridobiVseDomove">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PridobiVseDomoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="PridobiVseDomoveResult" nillable="true" type="q4:ArrayOfStudentski_dom" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VrniStudenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emso" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VrniStudentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="VrniStudentaResult" nillable="true" type="q5:Student" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IzpisNajstarejsega">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IzpisNajstarejsegaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="IzpisNajstarejsegaResult" nillable="true" type="q6:Student" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VrniDom">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VrniDomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="VrniDomResult" nillable="true" type="q7:Studentski_dom" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IzpisPovprecneStarosti">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IzpisPovprecneStarostiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IzpisPovprecneStarostiResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DodajStudenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="emso" type="xs:int" />
        <xs:element minOccurs="0" name="ime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="priimek" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="letoRojstva" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DodajStudentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DodajStudentaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DodajStudentskiDom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stevilka_doma" type="xs:int" />
        <xs:element minOccurs="0" name="ime_doma" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="leto_nastanka" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DodajStudentskiDomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DodajStudentskiDomResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DodajStudentaVDomu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="student" nillable="true" type="q8:Student" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="studentski_dom" nillable="true" type="q9:Studentski_dom" />
        <xs:element minOccurs="0" name="dolzina_bivanja" type="xs:int" />
        <xs:element minOccurs="0" name="tip" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DodajStudentaVDomuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DodajStudentaVDomuResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OdstraniStudenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OdstraniStudentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OdstraniStudentaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OdstraniDom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OdstraniDomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OdstraniDomResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OdstraniStudentaizDomov">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OdstraniStudentaizDomovResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OdstraniStudentaizDomovResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OdstraniDomIzStudentVDomu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OdstraniDomIzStudentVDomuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OdstraniDomIzStudentVDomuResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UrediStudenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUporabnika" type="xs:int" />
        <xs:element minOccurs="0" name="emso" type="xs:int" />
        <xs:element minOccurs="0" name="Ime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Priimek" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="leto_rojstva" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UrediStudentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UrediStudentaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UrediDom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
        <xs:element minOccurs="0" name="ime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stevilkadoma" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UrediDomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UrediDomResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>